@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-game-board: "Caprasimo", cursive;

  --animate-log: slide-in-from-left 1s cubic-bezier(0.075, 0.82, 0.165, 1)
    forwards;

  --animate-game-over: pop-in 0.5s cubic-bezier(0.68, -0.55, 0.65, 0.52) forwards;

  @keyframes slide-in-from-left {
    0% {
      opacity: 0;
      transform: translateX(-30%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* Fancy animation for showing the "Game Over" element */
  @keyframes pop-in {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    80% {
      transform: scale(1.1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }
}

body {
  /* font-family: 'Roboto Slab', sans-serif; */

  /* background: linear-gradient(to left, #18376f, #527dce); */
  /* background: linear-gradient(to bottom left, #0f172a, #1e1a78, #0f172a); */
  background: linear-gradient(to right, #2193b0, #6dd5ed);
}

h1 {
  font-family: "Caprasimo", cursive;
  font-size: 3rem;
  margin: 0 auto 3rem auto;
  color: #eaeaea;
}

header {
  text-align: center;
}

header img {
  width: 8rem;
  object-fit: contain;
  margin: 3rem auto 1rem auto;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
}

.highlight-player {
  border-color: #f6e35a;
  animation: pulse 2s infinite ease-in-out;
}
